*{margin: 0px}
.cards{
    display: flex;
    gap: 30px;
    width: 95%;
    justify-content:space-evenly;
    align-items: center;
}

.corpo{
    display: flex;
    gap: 30px;
    margin-left: 80px;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}