.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a893f5;
    height: 85vh;
    width: 40%;
}


.Letra{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 42px;
    
    color: #FFFFFF;
    
}